

.settings-container{
    width:50%;
    margin:auto;
}
.custom-button{
    border: none;
    background: white;
    color:var(--bs-primary);
}
.custom-button:hover{
    background: var(--bs-primary);
    color: white;
    border-bottom-right-radius: 8px;
}
#settings-img{
    clip-path: circle(50% at 50% 50%);
}

@media (max-width: 768px) {
    .settings-container{
        width:100%;
        margin:0;
    }
}